<!DOCTYPE html>
<html lang="fr">
<head>
	<title>{% block title %}Randonnées aux Mille Étangs{% endblock %}</title>
 	<meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Parcours de randonnées et aux Mille Etangs" />
 	<meta name="keywords" content="randonnées, randonnée, randos, mille étangs, 1000 étangs, étangs, vosges saonoises, itinéraires, parcours, balades, vtt, vélo, vélo tout terrain, marche, randonneurs, marcheurs, cheval, faucogney, mélisey, servance" />
 	<meta name="robots" content="follow,index" />

	{% block stylesheets %}{% endblock %}
	{% include "MilleEtangsRandonneesBundle::stylesheets.html.twig" %}
</head>

<body id="index">
    <header>
        <div class="container">
            <nav class="navbar navbar-inverse navbar-static-top visible-xs" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Randonnées aux Mille Étangs</a>
                </div>

                <div class="collapse navbar-collapse">
                {{ knp_menu_render('MilleEtangsRandonneesBundle:Builder:mainMenu') }}
                </div>
            </nav>

            <div id="header_title" class="col-md-4 hidden-xs"><p><strong><a href="{{ path("home") }}">Randonnées aux Mille Étangs</a></strong></p></div>
            <nav class="col-md-7 col-md-offset-1 hidden-xs">
                {{ knp_menu_render('MilleEtangsRandonneesBundle:Builder:mainMenu') }}
            </nav>
        </div>
    </header>

    <div id="precontent" class="container">
        {% block precontent %}{% endblock %}
    </div>

    <div class="container">
        <section id="content" class="col-md-9">
        {% block body %}
            404 - Vous êtes perdus ! <a href="{{ path("home") }}">Cliquez ici pour retourner à l'accueil</a>.
        {% endblock %}
        </section>

        <aside id="sidebar" class="col-md-3 hidden-xs">
            {% block sidebar_block0 %}
            <div class="sidebar_block">
                <h5>Conseils</h5>
                <a href="{{ path("advice") }}" class="sidebar_pic_link">
                    <img class="sidebar_pic" src="{{ asset('images/ico_conseils.jpg') }}" alt="Conseils" />
                </a>
                <div class="sidebar_content">
                    Avant de vous aventurer en randonnée, vérifiez les conseils d'usage afin de profiter d'une sortie en toute sécurité
                    <a href="{{ path("advice") }}" class="sidebar_button">Charte du<br />randonneur</a>
                </div>
                <div class="clearfix">
            </div>
            {% endblock %}

            {% block sidebar_block1 %}
                <div class="sidebar_block">
                    <h5>Météo</h5>
                    <iframe src="http://www.meteoblue.com/fr/france/meteo-faucogney-et-la-mer/widget?&pictoicon=1&maxtemperature=1&mintemperature=1&uv=1&v=2" scrolling="0" frameborder="0" height="250px"></iframe>
                </div>
            {% endblock %}

            {% block sidebar_block2 %}
                {# Google Adsense #}
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Randos 1000 etangs 2 -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:300px;height:250px"
                     data-ad-client="ca-pub-5206307313726600"
                     data-ad-slot="8880126416"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            {% endblock %}

            {% block sidebar_block3 %}
            {# <div class="sidebar_block">
                <div class="sidebar_block">
                    <h6>Hébergement</h6>
                    <div class="sidebar_content">
                        Lorem ipsum
                        <a href="{{ path("accomodations") }}" class="sidebar_button">Découvrez gîtes et hébergements locaux</a>

                    </div>
                </div>
            </div>#}
            {% endblock %}

            {% block sidebar_block4 %}
            {#<div class="sidebar_block">
                <h6>Restauration</h6>
                <div class="sidebar_content">
                    Lorem ipsum
                    <a href="{{ path("restaurants") }}" class="sidebar_button">Découvrez auberges et restaurants locaux</a>
                </div>
            </div>#}
            {% endblock %}
        </aside>
    </div>
    <div class="clearfix"></div>

    <footer>
        <div id="footer_logo" class="hidden-xs col-md-3">
        </div>
        <div id="footer_mentions" class="col-md-3">
            <ul>
                <li><a href="#top">Haut de la page</a></li>
                <li>Randonnées aux Mille Étangs</li>
                <li>Tous droits réservés 2012 - 2013</li>
                <li><a href="{{ path("legal") }}">Mentions légales</a></li>
                <li><a href="{{ path("sitemap") }}">Plan de site</a></li>
            </ul>
        </div>
        <div id="footer_menu" class="col-xs-12 col-md-3">
            <ul>
                <li><a href="{{ path("home") }}">Accueil</a></li>
                <li><a href="{{ path("articles") }}">Actualités</a></li>
                <li><a href="{{ path("mille_etangs") }}">Les Milles étangs</a></li>
                <li><a href="{{ path("itinearies_type", {'type':"vtt"}) }}">Randonnées en VTT</a></li>
                <li><a href="{{ path("itinearies_type", {'type':"marche"}) }}">Randonnées à pied</a></li>
            </ul>
        </div>
        <div id="footer_social" class="col-xs-12 col-md-3">
            <span>Restez connectés</span>
            <ul>
                <li><a href="#" class="facebook"></a></li>
                <li><a href="#" class="twitter"></a></li>
                <li class="clearfix"><a href="#" class="googleplus"></a></li>
                <li><a href="{{ path("rss") }}" class="rss"></a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </footer>

{% include "MilleEtangsRandonneesBundle::javascripts.html.twig" %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ ga_tracking }}', 'randos1000etangs.fr');
  ga('send', 'pageview');
</script>

</body>
</html>
