{% extends 'MilleEtangsRandonneesBundle::layout.html.twig' %}

{% block title %}{{ itineary.getName() }} | {{ parent()}}{% endblock %}

{% block body %}
<div class="itineary">

	<h2>{{ itineary.getName() }}</h2>

	<p>{{ itineary.getTeaser()|html }}</p>

	<table class="table">
		<thead>
			<tr>
				<th>Distance</th>
				<th>Dénivelé</th>
				<th>Difficulté</th>
				<th>Balisé</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ itineary.getDistance() | distance }}</td>
				<td>{{ itineary.getIncline() | incline }}</td>
				<td>{{ itineary.getDifficulty() | difficulty }}</td>
				<td>{{ itineary.getMarked() }}</td>
			</tr>
		</tbody>
	</table>

	{% if itineary.getBikeLength() > 0 %}
		<p>Durée VTT <strong>{{ itineary.getBikeLength() }} minutes</strong></p>
	{% endif %}

	{% if itineary.getHikeLength() > 0 %}
		<p>Durée à pied <strong>{{ itineary.getHikeLength() }} min</strong></p>
	{% endif %}

	{# Display GMaps if itineary has a KML file #}
	{% if itineary.getKml() is not null and itineary.getKml().getFile().getSize() > 0 %}
    	<script type="text/javascript">

	    function initialize() {
		  	var mapOptions = {
		    	zoom: 12,
		    	center: new google.maps.LatLng(47.838, 6.667),
		    	scaleControl: true
		  	};

		  	var map = new google.maps.Map(document.getElementById('map'), mapOptions);

		  	var ctaLayer = new google.maps.KmlLayer({
    			url: '{{ url('render_kml', {'slug':itineary.getSlug()}) }}'
			});
			ctaLayer.setMap(map);
		}

		function loadScript() {
			var script = document.createElement('script');
			script.type = 'text/javascript';
		  	script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&' +
		      'callback=initialize';
		  	document.body.appendChild(script);
		}

		window.onload = loadScript;
    	</script>
		<div id="map"></div>
	{% endif %}

	<h5>Accès</h5>
	<p>{{ itineary.getAccess()|html }}</p>

	<h5>Description</h5>
	<p>{{ itineary.getDescription()|html }}</p>

	{% if(itineary.getEndomondoLink() is not null) %}
		<a href='{{ itineary.getEndomondoLink() }}'>Endomondo</a>
	{% endif %}

	{# Download link for GPX file #}
	{% if itineary.getGpx() is not null and itineary.getGpx().getFile().getSize() > 0 %}
		<p><a href='{{ path('download_gpx', {'slug':itineary.getSlug()}) }}' class="gpx" target="_blank">Télécharger le fichier GPX pour votre GPS</a></p>
	{% endif %}
</div>
{% endblock %}
