{% extends 'MilleEtangsRandonneesBundle::layout.html.twig' %}

{% block title %}{{ itineary.getName() }} | {{ parent()}}{% endblock %}

{% block body %}
<div class="itineary">

	<div class="teaser">
		<div class="container">
			<h2>{{ itineary.getName() }}</h2>
			<p>{{ itineary.getTeaser()|html }}</p>
		</div>
	</div>

	{# Display GMaps if itineary has a KML file #}
	{% if itineary.getKml() is not null and itineary.getKml().getFile().getSize() > 0 %}
    	<script type="text/javascript">

	    function initialize() {
		  	var mapOptions = {
		    	zoom: 12,
		    	center: new google.maps.LatLng(47.838, 6.667),
		    	scaleControl: true
		  	};

		  	var map = new google.maps.Map(document.getElementById('map'), mapOptions);

		  	var ctaLayer = new google.maps.KmlLayer({
    			url: '{{ url('render_kml', {'slug':itineary.getSlug()}) }}'
			});
			ctaLayer.setMap(map);
		}

		function loadScript() {
			var script = document.createElement('script');
			script.type = 'text/javascript';
		  	script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&' +
		      'callback=initialize';
		  	document.body.appendChild(script);
		}

		window.onload = loadScript;
    	</script>
		<div id="map"></div>
	{% endif %}

	<div class="container">
		<div class="col-xs-12 col-md-3 col-md-offset-1">
			<h5>Caractéristiques</h5>
			<table>
				<tr>
					<td>Distance</td>
					<td class="text-right">{{ itineary.getDistance() | distance }}</td>
				</tr>
				<tr>
					<td>Dénivellé</td>
					<td class="text-right">{{ itineary.getIncline() | incline }}</td>
				</tr>
				<tr>
					<td>Difficulté</td>
					<td class="text-right">{{ itineary.getDifficulty() | difficulty }}</td>
				</tr>
				<tr>
					<td>Balisé</td>
					<td class="text-right">{{ itineary.getMarked()|displayBoolean }}</td>
				</tr>

				{% if itineary.getMountainBikeLength() > 0 %}
					<tr>
						<td>Durée VTT</td>
						<td class="text-right">{{ itineary.getMountainBikeLength() }} minutes</td>
					</tr>
				{% endif %}

				{% if itineary.getHikeLength() > 0 %}
					<tr>
						<td>Durée à pied</td>
						<td class="text-right">{{ itineary.getHikeLength() }} minutes</td>
					</tr>
				{% endif %}

				{# Download link for GPX file #}
				{% if itineary.getGpx() is not null and itineary.getGpx().getFile().getSize() > 0 %}
					<tr>
						<td colspan="2">
							<a href='{{ path('download_gpx', {'slug':itineary.getSlug()}) }}' class="gpx" target="_blank">
							<i class="fa fa-location-arrow" title="Tracé GPS"></i>
							Téléchargez le tracé GPS
							</a>
						</td>
					</tr>
				{% endif %}

				{% if(itineary.getEndomondoLink() is not null) %}
					<tr>
						<td colspan="2">
							<a href='{{ itineary.getEndomondoLink() }}'>Endomondo</a>
						</td>
					</tr>
				{% endif %}

			</table>
		</div>
		<div class="col-xs-12 col-md-5 col-md-offset-2">
			<h5>Accès</h5>
			<p>{{ itineary.getAccess()|html }}</p>

			<h5>Description</h5>
			<p>{{ itineary.getDescription()|html }}</p>
		</div>
	</div>
</div>
{% endblock %}
