{% extends 'MilleEtangsRandonneesBundle::layout.html.twig' %}

{% block title %}Randonnées | {{ parent()}}{% endblock %}

{% block body %}
	<h1>Randonnées</h1>

	<ul>
	{% for itineary in itinearies %}
		<li><a href="{{ path('itineary', {'slug': itineary.getSlug()}) }}">{{ itineary.getName() }}</a></li>
	{% else %}
		<li>Il n'y a pas de randonnées actuellement !</li>
	{% endfor %}
	</ul>

    <p class="disclaimer">
    Les parcours non balisés proposés par le site Randonnées aux Mille Etangs n'ont pas fait l'objet d'une étude cadastrale. Il est donc possible que ceux ci empruntent des propriétés privées.
    Le fait d'emprunter ces circuits relève donc de la responsabilité individuelle des usagers et Randonnées aux Mille Etangs se dégage de toute responsabilité concernant d'éventuels incidents pouvant survenir sur les circuits proposés. Consultez les <a href="{{ path('legal') }}">mentions légales</a> pour en savoir plus.
    Avant de partir en randonnée, n'oubliez pas de consulter nos <a href="{{ path('advice') }}">conseils</a> !</p>
{% endblock %}