{% extends 'MilleEtangsRandonneesBundle::layout.html.twig' %}

{% block title %}{{ randonnee.getNom() }} | {{ parent()}}{% endblock %}

{% block body %}
	<h2>{{ randonnee.getNom() }}</h2>

	<p>{{ randonnee.getTeaser()|raw }}</p>

	<p>{{ randonnee.getAcces()|raw }}</p>

	<p>{{ randonnee.getDescription()|raw }}</p>

	<p>Distance : {{ randonnee.getDistance() }} km</p>

	{% if randonnee.getDureeVtt() > 0 %}
		<p>Durée VTT : {{ randonnee.getDureeVtt() }} min</p>
	{% endif %}

	{% if randonnee.getDureeMarche() > 0 %}
		<p>Durée à pied : {{ randonnee.getDureeMarche() }} min</p>
	{% endif %}

	{% if randonnee.getDureeCheval() > 0 %}
		<p>Durée à cheval : {{ randonnee.getDureeCheval() }} min</p>
	{% endif %}

	<p>Dénivelé positif : {{ randonnee.getDenivelePositif() }} m</p>

	{% if(randonnee.getEndomondoLink() is not null) %}
		<a href='{{ randonnee.getEndomondoLink() }}'>Endomondo</a>
	{% endif %}

{% endblock %}
