{% extends 'MilleEtangsRandonneesBundle::layout.html.twig' %}

{% block title %}Plan du site | {{ parent()}}{% endblock %}

{% block body %}
<h2>Plan du site</h2>

<ul>
	<li><a href="{{ path('home') }}">Accueil</a></li>
	<li><a href="{{ path('milleEtangs') }}">Les mille étangs</a></li>
	<li><a href="{{ path('accomodations') }}">Hébergement</a></li>
	<li><a href="{{ path('restaurants') }}">Restauration</a></li>
	<li><a href="{{ path('contact') }}">Contact</a></li>
</ul>

<h3><a href="{{ path('itinearies_type', {'type':'bike'} )}}">Randonnées VTT</a></h3>
<ul>
	{% for itineary in itineariesBike %}
		<li><a href="{{ path('itineary', {'slug':itineary.getSlug()}) }}">{{ itineary.getName() }}</a></li>
	{% endfor %}
</ul>

<h3><a href="{{ path('itinearies_type', {'type':'hike'} )}}">Randonnées à pied</a></h3>
<ul>
	{% for itineary in itineariesHike %}
		<li><a href="{{ path('itineary', {'slug':itineary.getSlug()}) }}">{{ itineary.getName() }}</a></li>
	{% endfor %}
</ul>
	
{% endblock %}
