{% extends 'MilleEtangsRandonneesBundle::layout.html.twig' %}

{% block title %}{{ article.getName() }} | {{ parent()}}{% endblock %}

{% block body %}
<div class="article">
    <small>{{ article.getPublication() | format_date }}</small>
	<h3>{{ article.getName() }}</h3>
	<div class="text">{{ article.getContent()|raw }}</div>
</div>
{% endblock %}