{% extends 'MilleEtangsRandonneesBundle::layout.html.twig' %}

{% block title %}{{ article.getName() }} | {{ parent()}}{% endblock %}

{% block body %}
<div>
	<h3>{{ article.getName() }}</h3>
	<small>{{ article.getPublication() | format_date }}</small><br/>
	{{ article.getContent()|raw }}
</div>
{% endblock %}