{% extends 'MilleEtangsRandonneesBundle::layout.html.twig' %}

{% block title %}{{ article.getName() }} | {{ parent()}}{% endblock %}

{% block body %}
<div class="container article">
    <small>{{ article.getPublication() | format_date }}</small>
	<h3 class="text-left">{{ article.getName() }}</h3>
	<div class="text">{{ article.getContent()|html }}</div>
	<div class="comments">
		{{ knp_disqus_render('articles', {
            'identifier': path('article', {'slug': article.getSlug()}),
            'language': 'fr'
           })}}
    </div>
</div>
{% endblock %}
