{% extends "MilleEtangsRandonneesBundle::layout.html.twig" %}

{% block javascripts %}
	{% javascripts "@MilleEtangsRandonneesBundle/Resources/assets/js/jquery-1.8.0.min.js" %}
        <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<script type="text/javascript">
tinyMCE.init({
        mode : "textareas",
        theme : "advanced"
});
</script>

<form action="" method="POST">
	{{ form_errors(form) }}
	{{ form_widget(form) }}

	{{ form_rest(form) }}
	<a href="{{ path('upload_picture') }}">Charger une image</a><br />
	<input type="submit" value="enregistrer" />
</form>
{% endblock %}