{% extends "MilleEtangsRandonneesBundle::layout.html.twig" %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/tiny_mce/tiny_mce.js') }}"></script>
{% endblock %}

{% block body %}
<script type="text/javascript">
tinyMCE.init({
        mode : "textareas",
        theme : "advanced"
});
</script>
<form action="" method="POST" {{ form_enctype(form) }}>
	{{ form_errors(form) }}
	{{ form_widget(form) }}

	{{ form_rest(form) }}
	<input type="submit" value="enregistrer" />
</form>
{% endblock %}