{% extends "MilleEtangsRandonneesBundle:Security:layout.html.twig" %}

{% block body %}
<script type="text/javascript" src="{{ asset('js/tiny_mce/tiny_mce.js') }}"></script>

<script type="text/javascript">
tinyMCE.init({
        mode : "textareas",
        theme : "advanced"
});
</script>

<form action="" method="POST" {{ form_enctype(form) }} class="form-horizontal">
    <div class="form-group">
        {{ form_errors(form.name) }}
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_errors(form.teaser) }}
        {{ form_label(form.teaser) }}
        {{ form_widget(form.teaser, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_errors(form.access) }}
        {{ form_label(form.access) }}
        {{ form_widget(form.access, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_errors(form.description) }}
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_errors(form.marked) }}
        {{ form_label(form.marked) }}
        {{ form_widget(form.marked, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_errors(form.difficulty) }}
        {{ form_label(form.difficulty) }}
        {{ form_widget(form.difficulty, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_errors(form.bike_length) }}
        {{ form_label(form.bike_length) }}
        {{ form_widget(form.bike_length, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_errors(form.hike_length) }}
        {{ form_label(form.hike_length) }}
        {{ form_widget(form.hike_length, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_errors(form.distance) }}
        {{ form_label(form.distance) }}
        {{ form_widget(form.distance, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_errors(form.incline) }}
        {{ form_label(form.incline) }}
        {{ form_widget(form.incline, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_errors(form.endomondo_link) }}
        {{ form_label(form.endomondo_link) }}
        {{ form_widget(form.endomondo_link, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_errors(form.gpx) }}
        {{ form_label(form.gpx) }}
        {{ form_widget(form.gpx, {'attr': {'class': 'form-control'}}) }}
        {% if itineary is defined and itineary.getGpx() is not null and itineary.getGpx().getFile().getSize() > 0 %}
            <a href='{{ path('download_gpx', {'slug':itineary.getSlug()}) }}' class="gpx" target="_blank">Voir le fichier GPX</a>
        {% endif %}
        {% if itineary is defined and itineary.getKml() is not null and itineary.getKml().getFile().getSize() > 0 %}
            <a href='{{ path('render_kml', {'slug':itineary.getSlug()}) }}' class="gpx" target="_blank">Voir le fichier KML</a>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form_errors(form.published) }}
        {{ form_label(form.published) }}
        {{ form_widget(form.published, {'attr': {'class': 'form-control'}}) }}
    </div>

	{{ form_errors(form) }}
	{{ form_widget(form) }}

	{{ form_rest(form) }}
	<div class="form-group">
       <input type="submit" value="Save" name="save" class="btn btn-primary btn-lg" />
       <input type="submit" value="Delete" name="delete" class="btn btn-primary btn-lg" />
    </div>
</form>
{% endblock %}
