{% extends "MilleEtangsRandonneesBundle:Security:layout.html.twig" %}

{% block javascripts %}
	{% javascripts "@MilleEtangsRandonneesBundle/Resources/assets/js/jquery-1.8.0.min.js" %}
        <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<script type="text/javascript">
tinyMCE.init({
        mode : "textareas",
        theme : "advanced"
});
</script>

<form action="" method="POST" class="form-horizontal">

    <div class="form-group">
        {{ form_errors(form.name) }}
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_errors(form.content) }}
        {{ form_label(form.content) }}
        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_errors(form.publication) }}
        {{ form_label(form.publication) }}
        {{ form_widget(form.publication, {'attr': {'class': 'form-control'}}) }}
    </div>

	{{ form_rest(form) }}

    <div class="form-group">
	   <input type="submit" value="Save" name="save" class="btn btn-primary btn-lg" />
       <input type="submit" value="Delete" name="delete" class="btn btn-primary btn-lg" />
    </div>
</form>
{% endblock %}