{% extends "MilleEtangsRandonneesBundle::layout.html.twig" %}

{% block body %}
<h2>Administation</h2>

<div class="success">{{ app.session.getFlash('succes') }}</div>

<div class="error">{{ app.session.getFlash('erreur') }}</div>

<h3>Gestion des articles</h3>
<ul>
	{% for actu in actualites %}
		<li><a href="{{ path('update_actualite', {id: actu.getId()}) }}">{{ actu.getNom() }}</a></li>
	{% endfor %}
	<li><a href="{{ path('create_actualite') }}">Ajouter un article</a></li>
</ul>

<h3>Gestion des parcours</h3>
<ul>
	{% for rando in randonnees %}
		<li><a href="{{ path('update_randonnee', {id: rando.getId()}) }}">{{ rando.getNom() }}</a></li>
	{% endfor %}
	<li><a href="{{ path('create_randonnee') }}">Ajouter un parcours</a></li>
</ul>
{% endblock %}