{% extends "MilleEtangsRandonneesBundle:Security:layout.html.twig" %}

{% block body %}
<h2>Administation</h2>

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">{{ flashMessage }}</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">{{ flashMessage }}</div>
{% endfor %}

<h3>Gestion des articles</h3>
<ul class="articles">
	{% for article in articles %}
		<li><a href="{{ path('update_article', {id: article.getId()}) }}">{{ article.getName() }}</a></li>
	{% endfor %}
</ul>

<h3>Gestion des parcours</h3>
<ul class="itinearies">
	{% for itineary in itinearies %}
		<li><a href="{{ path('update_itineary', {id: itineary.getId()}) }}">{{ itineary.getName() }}</a></li>
	{% endfor %}
</ul>
{% endblock %}